body{
    font-size: 16pt;
    font-family: 'lora', serif;
    /*padding-top: 112px;
    padding-right: 139px;
    padding-bottom: 139px;
    padding-left: 112px;*/
    color: #3E3E3E;

}

h1{
    font-size: 42pt;
    color: #D95D5A;
    font-family: 'Be Vietnam', sans-serif;
}

h2{
    font-size: 26pt;
    color: #D95D5A;
    font-family: 'Be Vietnam', sans-serif;
}

p{
    font-size: 16pt;
    font-family: 'lora', serif;
}

.text {
    max-width: 750px;
}


/*#image{
    float: right;
    margin: 40px;
}

#links{
    float: right;
}*/

.card {
    height: 338px;
    width: 260px;
    margin: 64px auto 0px;
    border: 3px black solid;
}

.sm {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}


.smContainer {
    margin: 0 auto;
}

.left {
    float: left;
    width: 70%; 
    height: 768px;
}

.right {
    float: left;
    width: 30%;
    background-color: #D95D5A;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;  
    height: 768px;
}

.content {
    padding: 64px 72px;
} 

.aboutMe {
    margin-top: 0px;
    margin-bottom: 16px;
}

.myName {
    margin-top: 0px;
    margin-bottom: 40px;
}

.heading {
    margin-top: 0px;
    margin-bottom: 16px;
}